/**/
html{

}

body{
    margin: 0%;
}
/**/
.login{
    width: 200px 395px 395px 200px;
    display: grid;
}

.login__img{

}

.login__botao{


}

.login__formulario{

}

/**/
.formulario__label{

}

.formulario__caixa{

}
