/**/
html{

}

body{
    margin: 0%;
    
}
/*Partes centrais do login*/
.login{
    background-color: #fff;
    Width:630px;
    height: 600px;
    border-radius: 12px;
    border-color: lightgrey;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 100px;
    
    font-family: 'Roboto', sans-serif;

}
.login__exit{
    border-style: none;
    font-size: x-large;
    color: #000000;
    margin: 10px;
    margin-left: 600px;
    
    
}

.login__img{
    display: block;
    width: 350px;
    height: 100px;
    margin: 60px auto 30px auto;
}

.login__botao{
    display: block;
    width: 90%;
    height: 50px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    background-color: #33BB69;
    margin-top: 100px;
    color: #fff;
    font-size: medium;
}

/*Caixas e formulaario do login*/
.formulario__label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    display: block;
    width: 60px;
    height: 30px;
    margin-left: 60px ;
    margin-top: 25px;

}

.formulario__caixa{
    display: block;
    width: 80%;
    height: 40px;
    border-color: #A4A4A4;
    border-Radius:12px;
    margin-left: auto;
    margin-right: auto;
    
}

/*Animações de botão login*/
.login__botao:hover{
    background-color: lightseagreen;
}

.login__exit:hover{
    color: red;
}